body {
  background: #1B293C;
  color: #fff;
  font-family: 'Quicksand', sans-serif;
}

header {
  text-align: center;
}

header h1 {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
  margin: 20px;
  font-size: 4rem;
}

header p {
  font-family: 'Quicksand', sans-serif;
  color: #3993A4;
  margin: -30px 0px 0px -53px;
}

h3 {
  padding-top: 10px;
}

a {
  color: #3993A4;
  text-decoration: none;
}

* {
  color: #fff;
}

.single-event {

}

.add-event {
  margin-top: 30px;
  font-size: 12px;
}

.admin-login {
  float: right;
  margin-right: 70px;
  font-size: 10px;
}

.admin-login > a{
  color: #3993A4;
  text-decoration: none;
}

.main-content {
  display: flex;
  justify-content: center;
}

/* ----- LOCATION ----- */

.location-container {
  margin: 100px;
}

.location-input {
  border: none;
  height: 1rem;
}

*::placeholder {
  color: #263A54;
}

.submit-button {
  font-family: 'Quicksand', sans-serif;
  background: #3993A4;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  margin-top: 10px;
  margin-right: 3px;
}

.distance-badge {
  color: #FDCFB7;
}

/* ----- EVENT LIST ----- */

.event-list-container {
  margin-top: 50px;
  margin-left: 50px;
}

.event-list-container > h1 {
  margin-left: 50px;
}

.event-list-item {
  border-left: 7px solid #8EB9A8;
  max-width: 400px;
  padding: 0px 10px 0px 10px;
  margin-left: 50px;
  margin-top: -10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.event-list-item a {
  text-decoration: none;
  color: #fff;
}

.event-list-item:hover {
  text-decoration: none;
  background: #263A54;
}

.event-list-item > h2, h3 {
  margin-top: -10px;
}

/* ----- SUBMIT EVENT FORM ----- */

.submit-event-container {
  margin: 50px;
}

.submit-input {
  margin-top: 7px;
  border: none;
  border-bottom: 1px solid #fff;
  height: 1rem;
  width: 200px;
  margin-left: 5px;
  background: #1B293C;
}

.textarea {
  height: 200px;
  width: 197px;
  border: 1px solid #fff;
}

textarea:focus {
  color: #fff;
}

input:focus {
  color: #fff;
}

*:focus {
  outline: none;
}

.input-label {
  font-size: 10px;
  margin-bottom: -5px;
}



/* ----- SUBMITTED EVENTS ----- */

.subevent-list-item {
  border-left: 7px solid #8EB9A8;
  max-width: 400px;
  padding: 0px 10px 0px 10px;
  margin-left: 50px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.subevent-list-item a {
  text-decoration: none;
  color: #3993A4;
}

/* .subevent-list-item:hover {
  text-decoration: none;
  background: #263A54;
} */

.subevent-list-container > h1 {
  margin-left: 50px;
}

.subevent-list-container {
  margin: 100px;
}

.ade-button {
  padding-right: 3px;
}

.all-done {
  color: #8EB9A8;
  margin-left: 50px;
}

.view-events {
  margin-left: 50px;
}
